.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: #0f394ee3;
  margin: 30px;
  padding: 20px;
}
.driversList {
  width: 100%;
  display: flex;
  flex-direction: column
}
.driverContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around
}
.driverContainer:nth-last-child(1) {
  margin-bottom: 0;
}
.driverContainer:first-child {
  margin-top: 30px;
}
.driver {
  padding: 20px;
  background-image: linear-gradient(
    to right bottom,
    #1e1e1e,
    #252525,
    #2b2b2b,
    #323232,
    #393939
  );
  color: white;
  font-weight: 800;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
  box-shadow: 4px 4px 30px 1px #1d1d1dad;
  width: 50%;
}
.driversListTitle {
  color: #ff720be0;
  font-size: xx-large;
}
.pricetag {
  color: yellow;
  font-size: 1.3rem;
}
button {
  padding: 40px
}
.red {
  color: red;
}
